
* {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100%;
  background: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  overflow-x: hidden; /* hide horizontal scrolling */
}

a{
  text-decoration: none;
}


/* _______MOBILE 320_____________________________________*/

@media screen and (min-width: 0px){

  .header{
    background-image: url("../img/blue-header.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: space-between; /* space between logo and burger */
    position: fixed;
    height: 100px;
    align-items: center; /* centers hamburger */
  }

  .logo {
    padding: 30px;
    width: 128px;
    margin-left: 14px;
  }

  .logo:hover{
    opacity: 0.5;
  }

  #desktop{
    display: none;
  }

  .hamburger{
    display: block;
    position: relative;
    margin: 0 50px 0 0;
    z-index: 1;
    -webkit-user-select: none;
  }

  .hamburger input{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: 1px;
    right: 1px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }

  .hamburger span{
    display: block;
    width: 33px;
    height: 5px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }

  .hamburger span:first-child{
    transform-origin: 0% 0%;
  }

  .hamburger span:nth-last-child(2){
    transform-origin: 0% 100%;
  }

  /* Transform all the slices of hamburger into a crossmark.*/
  .hamburger input:checked ~ span{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #fff;
  }

  /* But let's hide the middle slice. */
  .hamburger input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  /* the last slice should go the other direction */
  .hamburger input:checked ~ span:nth-last-child(2){
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  /* Make this absolute positioned at the top of the screen */
  .menu{
    position: absolute;
    width: 165px;
    margin: 32px 0 0 -80px;
    padding: 10px;
    background: #1e557f;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(400px, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    -webkit-box-shadow: 10px 10px 18px -2px rgba(0,0,0,0.25);
    -moz-box-shadow: 10px 10px 18px -2px rgba(0,0,0,0.25);
    box-shadow: 10px 10px 18px -2px rgba(0,0,0,0.25);
  }

  .menu li a{
    padding: 28px 0;
    font-size: 18px;
    color: #fff;
    display: flex;
    justify-content: center;
  }

  .menu li:hover{
    opacity: 0.5;
  }

  .hamburger input:checked ~ ul{
    transform: scale(1.0, 1.0);
    opacity: 1;
  }

  #top-section{
    margin-top: 100px;
  }

  #top-section h1, #top-section p{
    display: none;
  }

  .me{
    width: 100%;
    padding-top: 40px;
    margin-bottom: -3px;
  }

  .me2{
    display: none;
  }

  h2{
    letter-spacing: 1.2px;
    font-size: 1.875em;
    display: flex;
    justify-content: center;
    padding: 40px 0 20px 0;
  }

  p{
    line-height: 1.5em;
    font-family: sans-serif;
    padding: 0 39px 40px 39px;
    text-align: center;
  }

  #about{
    background: url("../img/gray.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    border-top: solid 7px #1e557f;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #about h2{
    color: #fff;
  }

  #about p{
    color: #fff;
    font-family: sans-serif;
    letter-spacing: .045em;
    line-height: 2em;
  }

  #about img{
    display: none;
  }

  #about p span{
    display: none;
  }

  #about a{
    color: #fff;
    display: flex;
    justify-content: center;
    letter-spacing: .02em;
    font-family: roboto;
    font-style: italic;
  }

  #about a:hover{
    color: #1e557f
  }

  #pf{
    display: flex;
    flex-direction: column;
    border-top: solid 7px #1e557f; 
    align-items: center;
    justify-content: center;
  }

  #pf h2 {
    padding-bottom: 15px;
    font-size: 2.6em;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0em;
    color: #1e557f;
  }

  #pf img{
    width: 140px;
    padding: 3px;
    margin: 8px 8px;
    border: solid #fff 1px;
    border-radius: 50%;
    -webkit-box-shadow: 10px 10px 18px -2px rgba(0,0,0,0.25);
    -moz-box-shadow: 10px 10px 18px -2px rgba(0,0,0,0.25);
    box-shadow: 10px 10px 18px -2px rgba(0,0,0,0.25);
  }

  .pf-imgs {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;     /* make main axis horizontal (default setting) */
    justify-content: center; /* center items horizontally, in this case */
    align-items: center;     /* center items vertically, in this case */
    padding-bottom: 50px;
  }

  #pf .pf9, #pf .pf0, #pf .pf10, #pf .pf11, #pf .pf12, #pf .pf13{
    display: none;
  }

  #pf img:hover{
    border: 6px solid #1e557f;
  }

  h3{
    font-size: 1.2em;
    display: flex;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    padding: 20px 0 50px 0 ;
    letter-spacing: .1em;
  }

  h3 a{
    color: #000;
  }

  h3 a:hover{
    opacity: 0.5;
  }

  .footer{
    margin-top: 3px;
    padding: 27px;
    background: url("../img/work-background.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    display: flex;
    justify-content: space-between;
  }

  .footer a{
    color: #fff;
    font-style: italic;
    font-family: sans-serif;
    letter-spacing: .1em;
    font-size: 1.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 1.5px 1.5px #000;
    margin-left: 12px;
  }

  .footer a:hover{
    opacity: 0.5;
  }

  .insta{
    padding-right: 12px;
  }
  
  .linkedin{
    margin-right: 12px;
  }

  .footer .social{
    display: flex;
    justify-content: flex-end;
    flex-grow: 0;
  }

  .footer img:hover{
    opacity: 0.5;
  }

  /* ----about page --------------------*/

  #about-top-section{
    height: 300px;
    display: flex;
    justify-content: center;
  }

  .imawk{
    height: 200px;
    margin-top: 140px;
  }

  #about-full{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #about-full h2{
    margin-top: 40px;
  }

  #about-full p{
    margin: 0 10px 0 10px;
  }

  .hike, .lilly2, .field{
    display: none;
  }

}



/*---------------- TABLET 480----------------*/
@media screen and (min-width: 480px){

  .menu li{
    font-size: 21px;
    margin-right: 20px;
  }

  .menu li a{
    padding: 2px 0;
  }

  .header{
    position: relative;
  }

  #top-section{
    margin-top: 0;
  }

  #pf img{
    width: 180px;
  }

  h2{
    font-size: 2.3em;
  }

  #pf h2{
    padding-bottom: 45px;
  }

  .menu li{
    padding: 30px 20px 30px 40px;
  }

  #about h2{
    padding-top: 50px;
  }

  #about p{
    padding-top: 0;
    padding-bottom: 50px;
  }

  /* ----about page --------------------*/

  .imawk{
    height: 230px;
    margin-top: 60px;
  }

  #about-full{
    padding-bottom: 30px;
  }

  #about-full h2{
    margin-top: -10px;
  }

  #about-full p{
    margin: 0 20px 0 20px;
  }

}



/*---------------- TABLET 768----------------*/
@media screen and (min-width: 768px){

  
  #desktop{ /* centers aligns nav with logo */
    display: inline-flex; 
    align-items: center;
    margin-right: 20px;
  }

  #desktop li{
    padding: 30px 29px;
    font-size: 1.3em;
    letter-spacing: .1em;
    text-shadow: 1.5px 1.5px #000;
  }

  #desktop a {
    color: #fff;
  }

  #desktop a:hover {
    opacity: 0.5;
  }

  .hamburger{
    display: none;
  }

  #top-section{
    display: flex;
    flex-direction: column;
  }

  #top-section .text{ 
    display: flex;
    flex-direction: row; /* this made designer and dev inline */
    padding: 30px 0;
    justify-content: space-between; /* this made designer and dev have space in between */
    opacity: 0;
  }

  #top-section .text .designer h1,
  #top-section .text .designer p{
    display: flex;
    border: none;
    justify-content: flex-start;
  } 

  #top-section .text .developer h1,
  #top-section .text .developer p{
    display: flex;
    border: none;
    justify-content: flex-end;
  } 
  
  #top-section .text .designer h1{
    margin-left: 45px;
    font-size: 3em;
    padding-bottom: 15px;
    color: #676767;
   }

  #top-section .text .developer h1{
    margin-right: 45px;
    font-size: 3em;
    padding-bottom: 15px;
    color: #676767;
   }

  #top-section .text .designer p{
    margin-left: 8px;
    color: #515050;
    width: 340px;
    text-align: left;
    float: left;
    font-size: .9em;
  }

  #top-section .text .developer p{
    margin-right: 8px;
    color: #515050;
    width: 340px;
    text-align: right;
    float: right;
    font-size: .9em;
  }

  .me{
    display: none;
  }
  
  .me2{
    display: flex;
    align-self: center;
    width: 50%;
    margin-top: -90px;
  }

  #about h2, #about p{
    margin-right: 50px;
    margin-left: 50px;
  }

  #about p{
    border: none;
  }

  #pf img{
    width: 190px;
  }

  h2{
    font-size: 2.6em;
  }

  #pf .pf9, #pf .pf0, #pf .pf10, #pf .pf11{
    display: inline-flex;
  }

  /* ----about page --------------------*/

  .imawk{
    height: 270px;
  }

  #about-full h2{
    margin-top: 20px;
  }

  #about-full p{
    margin: 0 130px 0 130px;
  }

  #about-full{
    padding-bottom: 40px;
  }

  .about-imgs{
    flex-direction: row;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  .hike, .lilly2, .field{
    padding-top: 20px;
    height: 135px;
    align-items: center;
    display: flex;
    border-radius: 50%;
  }

  .about-imgs img{
    padding: 0 10px;
  }

}

/*---------------- 1024 ---------------------*/
@media screen and (min-width: 1024px) {

  .footer{
    background: url("../img/1440-footer.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
  }

  #pf .pf2, #pf .pf3{
    display: none;
  }  

  .imawk{
    height: 290px;
  }

  #about-full h2{
    margin-top: 40px;
  }

  #about-full p{
    margin: 0 260px 0 260px;
  }

  .hike, .lilly2, .field{
    height: 135px;
  }

}

/*---------------- BIGGER 1200----------------*/
@media screen and (min-width: 1200px) {

  .hike, .lilly2, .field{
    height: 160px;
  }

}



/*---------------- BIGGER 1236----------------*/
@media screen and (min-width: 1236px) {

  #pf .pf12{
    display: inline-flex;
  }

}


/*---------------- BIGGER 1440----------------*/
@media screen and (min-width: 1440px) {

  #top-section .text .designer h1,
  #top-section .text .developer h1{
    font-size: 5em; 
  }

  #top-section .text .designer p,
  #top-section .text .developer p{
    font-size: 1.5em;
    width: 475px;
  }

  #about p{
    margin-right: 400px;
    margin-left: 400px;
  }

  .imawk{
    height: 300px;
  }

  #about-full h2{
    margin-top: 50px;
  }

  #about-full p{
    margin: 0 396px 0 396px;
  }

  .hike, .lilly2, .field{
    height: 173px;
  }

  #pf .pf13{
    display: inline-flex;
  }

  #about p{
    font-size: 1.3em;
  }

  #about a{
    font-size: 1.1em;
  }

}

/*-------------- BIGGEST 2100 ----------------*/
@media screen and (min-width: 2100px) {
  
  .logo{
    margin-left: 90px;
  }

  #desktop{ /* centers aligns nav with logo */
    margin-right: 90px;
  }

  #desktop li{
    font-size: 1.8em;
  }

  .header, .footer{
    height: 140px;
  }

  .logo{
    width: 148px;
  }

  .footer a{
    font-size: 1.9em;
    margin-left: 90px;
  }
  
  .linkedin{
    margin-right: 90px;
  }

  .linkedin{
    width: 70px;
  }

  .insta{
    width: 80px;
  }

  #top-section .text .designer h1{
    margin-left: 120px;
    font-size: 5em;
    padding-bottom: 15px;
    padding-top: 50px;
   }

  #top-section .text .developer h1{
    margin-right: 120px;
    font-size: 5em;
    padding-bottom: 15px;
    padding-top: 50px;
   }

  #top-section .text .designer p{
    margin-left: 90px;
    width: 340px;
    font-size: 2em;
    width: 575px;
  }

  #top-section .text .developer p{
    margin-right: 90px;
    width: 340px;
    font-size: 2em;
    width: 575px;
  }

  #about p{
    font-size: 1.5em;
  }

  #about a{
    font-size: 1.3em;
  }
}

















